.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .blackboard {
    position: relative;
    background-color: black;
    padding: 243px 90px;
    border-radius: 10px;
  }
  
  .text {
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0;
  }
  
  .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    animation: moveCircle 4s linear infinite;
  }
  
  @keyframes moveCircle {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 50px);
    }
    100% {
      left: 0;
    }
  }