.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .blackboard {
    position: relative;
    background-color: black;
    padding: 260px 70px;
    border-radius: 10px;
  }
  
  .text {
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0;
  }
  
  .circle {
    position: absolute;
    width: 80px;
    top: 43%;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin-left:50px;
    mix-blend-mode: difference;
    animation: moveCircle 8s linear infinite;
  }
  
  @keyframes moveCircle {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 180px);
    }
    100% {
      left: 0;
      /* right:30; */
    }
  }